/* ===== Global Elements ===== */
body {
  background: #dfdfdf;
  width: 100% !important;
  height: 100% !important;
  position: static !important;
  overflow: auto !important;
}
.center {
  text-align: center;
}
.hidden {
  display: none;
}
.bold {
  font-weight: bold;
}
.relative {
  position: relative;
}
.placeholder-container {
  overflow-y: auto;
  height: 100%;
  background: #dfdfdf;
}
.default-btn {
  display: inline-block;
  width: 80%;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ffffff;
}
.default-btn:active {
  background: rgba(255, 255, 255, 0.4);
}
.default-btn.plenary-btn .ico {
  width: 20px;
}
.default-btn.controll-btn {
  padding: 10px 7px 10px 12px;
}
.default-btn.controll-btn .ico {
  width: 25px;
}
.default-btn.committee-btn {
  padding: 10px 7px 10px 12px;
}
.default-btn.committee-btn .ico {
  width: 25px;
}
.default-btn.committee-btn .txt {
  line-height: 20px;
}
.default-btn .ico {
  float: left;
  width: 28px;
  display: block;
  margin-right: 10px;
}
.default-btn .txt {
  float: left;
  text-align: left;
  font-size: 12px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #414141;
  letter-spacing: 0.1px;
}
.back-btn {
  padding-top: 6px !important;
}
.back-btn img {
  width: 25px;
}
.search-btn {
  padding-top: 20px !important;
}
.search-btn img {
  width: 20px;
}
.side-menu-btn {
  display: block;
  font-size: 32px;
  color: #5c5c5c;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 25px;
  left: 15px;
  z-index: 2;
}
.preview-btn {
  float: right;
  padding-left: 7px !important;
  padding-right: 7px !important;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  min-height: 25px !important;
  line-height: 22px !important;
  background: #43c364 !important;
  border: none !important;
  color: #ffffff;
}
.preview-btn::before {
  line-height: 27px !important;
  font-size: 15px !important;
  padding-right: .4em !important;
}
.preview-btn:active,
.preview-btn:hover {
  color: #ffffff;
  background: #49d06c !important;
}
.preview-btn .txt {
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
}
.save-btn {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none !important;
  background: #43c364 !important;
  color: #ffffff !important;
}
.save-btn .txt {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
}
.save-btn:active {
  opacity: 0.7 !important;
}
.subscribe-list-btn {
  position: absolute;
  padding-top: 20px !important;
  top: 6px;
  right: 40px;
}
.subscribe-list-btn img {
  width: 24px;
}
.subscribe-btn {
  font-size: 25px;
  float: left;
  margin-right: 10px;
}
.subscribe-btn.inactive:before {
  color: #bababa !important;
}
.subscribe-btn.active:before {
  color: #49d06c  !important;
}
.title {
  color: #535353;
  font-size: 20px;
}
.external-link-wrapper {
  list-style: none;
}
.external-link {
  color: #3b8da2;
  padding-left: 18px;
  background-image: url("../img/link-icon.png");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 0px center;
}
.file-link {
  color: #3b8da2;
  display: inline-block;
  margin-bottom: 8px;
  padding: 7px 0px 7px 18px;
  font-size: 14px;
  background-image: url("../img/file-icon.png");
  background-size: 11px 15px;
  background-repeat: no-repeat;
  background-position: 0px center;
}
.normal-link {
  color: #3b8da2;
}
.bar-header {
  height: 75px;
  border-bottom: 1px solid #cfcfcf;
  background: #fafafa;
  position: fixed;
  top: 0px;
  left: 0px;
}
.bar-header .title {
  line-height: 85px;
  font-size: 18px;
  color: #5c5c5c;
}
.bar-header .ion-ios7-search {
  color: #5c5c5c;
}
.search-row {
  margin-top: 75px;
  padding: 0px !important;
  position: fixed;
  z-index: 2;
}
.search-row .col {
  padding: 0px;
}
.search-row .col .search-wrapper .search-field {
  height: 40px;
  padding-left: 47px;
  font-size: 16px;
  color: #5c5c5c;
  border-bottom: 1px solid #cfcfcf;
  background-image: url("../img/search-icon.png");
  background-color: #ffffff;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 15px center;
  letter-spacing: 0.2px;
}
.content-wrapper {
  padding-top: 75px !important;
  padding-bottom: 35px !important;
  overflow-y: auto !important;
  transition-property: padding-top;
  transition-duration: 0.2s;
  transition-delay: 0s;
}
.content-wrapper.search-opened {
  padding-top: 125px !important;
}
.short-preview {
  width: 100%;
  margin-bottom: 4%;
  background: #fafafa;
  border-bottom: 2px solid #b4b4b4;
}
.short-preview .description {
  font-size: 10px;
  line-height: 14px;
  color: #707070;
}
.short-preview .col-33 {
  padding-left: 2%;
}
.short-preview .date {
  float: right;
  height: 20px;
  padding-left: 23px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 22px;
  color: #535353;
  background-image: url("../img/date-icon.png");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 0px center;
}
.short-preview .description-labels {
  font-size: 10px;
}
.short-preview .description-labels .label {
  float: left;
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: bold;
}
.short-preview .description-labels .txt {
  color: #707070;
}
.detail-preview {
  background: #f7f7f7;
  border-bottom: 2px solid #b4b4b4;
}
.detail-preview .date {
  display: inline-block;
  padding-left: 25px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #535353;
  background-image: url("../img/date-icon.png");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 0px center;
}
.detail-preview .date-separator {
  display: inline-block;
  margin: 0 5px 0 5px;
  font-size: 16px;
  line-height: 24px;
  color: #535353;
}
.detail-preview .time {
  display: inline-block;
  margin-left: 10px;
  padding-left: 25px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #535353;
  background-image: url("../img/time-icon.png");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 0px center;
}
.detail-preview .address {
  color: #535353;
  margin-bottom: 10px;
}
.detail-preview .address > span {
  font-weight: bold;
}
.detail-preview img {
  width: 100%;
  margin-bottom: 10px;
}
.detail-preview .description {
  color: #535353;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
  border-top: 1px solid #dfdfdf;
}
.detail-preview .description-labels {
  font-size: 12px;
}
.detail-preview .description-labels .label {
  float: left;
  width: 150px;
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: bold;
  color: #535353;
}
.detail-preview .description-labels .txt {
  float: left;
  width: 43%;
  color: #707070;
}
.detail-preview .description-labels .txt .file-link,
.detail-preview .description-labels .txt .external-link {
  margin-bottom: 0px;
}
.detail-preview .description-labels .description-list li {
  margin-bottom: 5px;
}
.custom-row {
  width: 100%;
  float: left;
  position: relative;
}
.bar-footer {
  border-top: 1px solid #cfcfcf;
  background: #fafafa;
}
/*
.bottom-tabs {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding-top: 0px;
    background: #f5f5f5;
    border-top: 1px solid #cfcfcf !important;
    .tab-item {
        font-size: 11px;
        &.active {
            background: #ffffff;
            border-right: 1px solid #cfcfcf;
            border-left: 1px solid #cfcfcf;
            &:first-child {
                border-left: 0px;
            }
        }
        .section-icons {
            width: 25px;
            top: 5px;
            position: relative;
            &.plenary-ico {
                width: 18px;
            }

            &.controll-ico {
                
            }

            &.committee-ico {

            }

            &.news-ico {
                width: 30px;
            }

        }
    }
} */
/* === END Global Elements === */
/* === Left Menu === */
.left-menu .header {
  padding: 30px 15px 10px 15px;
}
.left-menu .header .armorial {
  margin-right: 5px;
}
.left-menu .header .armorial img {
  width: 60px;
}
.left-menu .header .title {
  padding-top: 10px;
  text-transform: uppercase;
}
.left-menu .header .title h1 {
  font-size: 12px;
  margin-bottom: 3px;
}
.left-menu .header .title h2 {
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
}
.left-menu .group-title {
  margin: 0px;
  padding: 15px 10px 0px 10px;
  text-transform: uppercase;
  font-size: 18px;
}
.left-menu .menu-sections > .row {
  padding: 0px;
}
.left-menu .menu-sections > .row.active .section {
  background: #fff;
}
.left-menu .menu-sections > .row.active .section .flag-active {
  display: block;
}
.left-menu .menu-sections > .row.new .section .flag-new {
  display: block;
}
.left-menu .menu-sections > .row .section {
  position: relative;
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px 15px;
  border-bottom: 1px solid #cfcfcf;
}
.left-menu .menu-sections > .row .section .flag-active {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 5px;
  height: 100%;
  background: #43c364;
  display: none;
}
.left-menu .menu-sections > .row .section .flag-new {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 55px;
  height: 20px;
  background: #e54f45;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
  display: none;
}
.left-menu .menu-sections > .row .section .ico {
  float: left;
}
.left-menu .menu-sections > .row .section .txt {
  float: left;
  width: 80%;
  padding-top: 6px;
}
.left-menu .menu-sections > .row .section .section-icons {
  width: 24px;
  top: 5px;
  position: relative;
  margin-right: 10px;
}
.left-menu .menu-sections > .row .section .section-icons.plenary-ico {
  width: 20px;
  height: 25px;
}
.left-menu .menu-sections > .row .section .section-icons.news-ico {
  width: 26px;
}
.left-menu .menu-sections > .row .section .section-icons.bills-ico {
  width: 22px;
}
.left-menu .menu-sections > .row .section .section-icons.mps-ico {
  width: 26px;
}
.left-menu .menu-sections .row + .row {
  margin: 0px;
}
/* === END Left Menu === */
/* === Section-tabs === */
.section-tabs {
  background: #f7f7f7;
  padding: 0px;
  margin-bottom: 5px;
  border-bottom: 1px solid #dfdfdf;
}
.section-tabs > .tab {
  position: relative;
  line-height: 50px;
  padding: 0 10px;
  border-right: 1px solid #dfdfdf;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
}
.section-tabs > .tab:last-child {
  border-right: 0px;
}
.section-tabs > .tab.active {
  background: #fff;
}
.section-tabs > .tab.active .flag-active {
  display: block;
}
.section-tabs > .tab .flag-active {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 5px;
  width: 100%;
  background: #43c364;
  display: none;
}
/* === END Section-tabs === */
/* ===== Home Screen ===== */
.home-tpl {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  padding-top: 8%;
  overflow-y: auto;
  color: #ffffff;
  background: url("../img/home-screen-bg.jpg") no-repeat fixed center bottom / cover rgba(0, 0, 0, 0);
}
.home-tpl .side-menu-btn {
  top: 20px;
  left: 20px;
  font-size: 40px;
  width: 44px;
  height: 44px;
  color: #ffffff;
}
.home-tpl .armorial-wrapper {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.home-tpl .armorial-wrapper .armorial {
  width: 100px;
  display: inline-block;
}
.home-tpl .armorial-wrapper .title {
  color: #ffffff;
  font-size: 25px;
}
.home-tpl .armorial-wrapper .title span {
  font-size: 20px;
}
/* ===== END Home Screen ===== */
/* ===== Plenary Screen ===== */
.plenary-tpl {
  overflow: auto;
  height: 93% !important;
}
/* ===== END Plenary Screen ===== */
/* ===== Plenary Screen Detail View ===== */
.plenary-tpl-detail-preview,
.controll-tpl-detail-preview,
.committee-tpl-detail-preview,
.news-tpl-detail-preview,
.bills-tpl-detail-preview,
.committee-check-list-tpl {
  padding-top: 75px;
  overflow: auto;
}
.plenary-tpl-detail-preview .detail-preview,
.controll-tpl-detail-preview .detail-preview,
.committee-tpl-detail-preview .detail-preview,
.news-tpl-detail-preview .detail-preview,
.bills-tpl-detail-preview .detail-preview,
.committee-check-list-tpl .detail-preview {
  padding: 0px !important;
}
.plenary-tpl-detail-preview .content-wrapper,
.controll-tpl-detail-preview .content-wrapper,
.committee-tpl-detail-preview .content-wrapper,
.news-tpl-detail-preview .content-wrapper,
.bills-tpl-detail-preview .content-wrapper,
.committee-check-list-tpl .content-wrapper {
  margin-bottom: 45px;
  padding: 0px !important;
}
/* ===== END Plenary Screen Detail View ===== */
/* ===== Controll Screen ===== */
.controll-tpl,
.committee-tpl,
.news-tpl,
.committee-check-list-tpl,
.bills-tpl {
  overflow: auto;
  height: 93% !important;
}
.controll-tpl .short-preview,
.committee-tpl .short-preview,
.news-tpl .short-preview,
.committee-check-list-tpl .short-preview,
.bills-tpl .short-preview {
  padding: 0px !important;
}
.controll-tpl .short-preview .title,
.committee-tpl .short-preview .title,
.news-tpl .short-preview .title,
.committee-check-list-tpl .short-preview .title,
.bills-tpl .short-preview .title {
  font-size: 18px;
  margin-bottom: 5px;
}
/* ===== END Controll Screen ===== */
/* ===== News Screen ===== */
.news-tpl .short-preview .title {
  font-size: 16px;
}
.news-tpl .short-preview .date {
  margin-top: 4px;
  font-size: 16px;
  background-size: 20px 20px;
  float: left;
}
/* ===== END News Screen ===== */
/* ===== Committee Screen ===== */
/* ===== END Committee Screen ===== */
/* ===== Committee check-lsit Screen ===== */
.committee-check-list-tpl .short-preview .title {
  font-size: 14px;
  line-height: 18px;
}
/* ===== END Committee check-lsit Screen ===== */
/* ===== Bills Screen ===== */
.bills-tpl .short-preview .title {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
/* ===== END Bills Screen ===== */
/* ===== Bills Detail Preview Screen ===== */
.bills-tpl-detail-preview .detail-preview .title {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
/* ===== END Bills Detail Preview Screen ===== */
/* ===== MPS Tabs Screens ===== */
.mps-tpl > .row,
.mp-groups-tpl > .row,
.mp-committees-tpl > .row,
.mp-area-tpl > .row,
.bills-tpl-detail-preview > .row,
.mps-tpl-detail-preview > .row,
.mps-tpl .content-wrapper,
.mp-groups-tpl .content-wrapper,
.mp-committees-tpl .content-wrapper,
.mp-area-tpl .content-wrapper,
.bills-tpl-detail-preview .content-wrapper,
.mps-tpl-detail-preview .content-wrapper {
  padding: 0px;
}
.mps-tpl .short-preview,
.mp-groups-tpl .short-preview,
.mp-committees-tpl .short-preview,
.mp-area-tpl .short-preview,
.bills-tpl-detail-preview .short-preview,
.mps-tpl-detail-preview .short-preview {
  padding: 10px 10px 0px 10px;
  background: #fff;
  margin-bottom: 5px;
  border-bottom: 1px solid #dfdfdf;
}
.mps-tpl .short-preview .profile-image,
.mp-groups-tpl .short-preview .profile-image,
.mp-committees-tpl .short-preview .profile-image,
.mp-area-tpl .short-preview .profile-image,
.bills-tpl-detail-preview .short-preview .profile-image,
.mps-tpl-detail-preview .short-preview .profile-image {
  width: 45px;
  height: 70px;
  float: left;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
}
.mps-tpl .short-preview .name,
.mp-groups-tpl .short-preview .name,
.mp-committees-tpl .short-preview .name,
.mp-area-tpl .short-preview .name,
.bills-tpl-detail-preview .short-preview .name,
.mps-tpl-detail-preview .short-preview .name {
  margin-bottom: 5px;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
  color: #5c5c5c;
}
.mps-tpl .short-preview .info,
.mp-groups-tpl .short-preview .info,
.mp-committees-tpl .short-preview .info,
.mp-area-tpl .short-preview .info,
.bills-tpl-detail-preview .short-preview .info,
.mps-tpl-detail-preview .short-preview .info {
  margin-top: 5px;
  float: left;
  padding-top: 0px;
  text-transform: uppercase;
  font-size: 10px;
  color: #5c5c5c;
}
.mps-tpl .short-preview .info li,
.mp-groups-tpl .short-preview .info li,
.mp-committees-tpl .short-preview .info li,
.mp-area-tpl .short-preview .info li,
.bills-tpl-detail-preview .short-preview .info li,
.mps-tpl-detail-preview .short-preview .info li {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 15px;
}
.mps-tpl .short-preview .preview-btn,
.mp-groups-tpl .short-preview .preview-btn,
.mp-committees-tpl .short-preview .preview-btn,
.mp-area-tpl .short-preview .preview-btn,
.bills-tpl-detail-preview .short-preview .preview-btn,
.mps-tpl-detail-preview .short-preview .preview-btn {
  margin-top: 5px;
}
.mps-tpl .short-preview > .col > .row,
.mp-groups-tpl .short-preview > .col > .row,
.mp-committees-tpl .short-preview > .col > .row,
.mp-area-tpl .short-preview > .col > .row,
.bills-tpl-detail-preview .short-preview > .col > .row,
.mps-tpl-detail-preview .short-preview > .col > .row {
  padding: 0px;
}
/* ===== END MPS Tabs Screens ===== */
/* ===== mp-groups-tpl Screen ===== */
.mp-groups-tpl .short-preview {
  padding-bottom: 5px;
}
.mp-groups-tpl .info {
  margin-top: 10px !important;
  font-size: 12px !important;
}
/* ===== END mp-groups-tpl Screen ===== */
/* ===== mp-area-tpl Screen ===== */
.mp-area-tpl .short-preview {
  padding: 10px 5px !important;
}
.mp-area-tpl .name {
  width: 70%;
  text-align: left !important;
  line-height: 29px;
  margin: 0px !important;
}
.mp-area-tpl .preview-btn {
  margin-top: 0px !important;
}
/* ===== END mp-area-tpl Screen ===== */
/* ===== mps-tpl-detail-preview Screen ===== */
.mps-tpl-detail-preview .short-preview {
  padding-top: 5px !important;
}
.mps-tpl-detail-preview .short-preview .name {
  font-size: 16px;
  margin: 0px auto 12px auto;
}
.mps-tpl-detail-preview .short-preview .profile-image {
  width: 95px;
  height: 95px;
  float: none !important;
  background-size: 95px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 20px;
}
.mps-tpl-detail-preview .short-preview .detail-info {
  color: #5c5c5c;
  margin-top: 5px;
  float: left;
  padding-top: 0px;
  text-transform: uppercase;
  font-size: 12px;
}
.mps-tpl-detail-preview .short-preview .detail-info li {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
}
.mps-tpl-detail-preview .short-preview .detail-info li .label {
  margin-right: 5px;
}
.mps-tpl-detail-preview .short-preview .detail-info li .txt {
  font-weight: bold;
}
.mps-tpl-detail-preview .info-section {
  padding: 0px !important;
}
.mps-tpl-detail-preview .info-section .name {
  margin: 10px 5px !important;
  font-size: 12px;
  text-align: left;
  text-overflow: inherit !important;
  white-space: inherit !important;
}
.mps-tpl-detail-preview .info-section .section-title {
  padding: 5px;
  margin: 0px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  background: #5c5c5c;
}
/* ===== END mps-tpl-detail-preview Screen ===== */
/* ===== Options Screen ===== */
.options-tpl {
  padding-top: 75px;
  overflow: auto;
  height: 100%;
}
.options-tpl .item-toggle {
  line-height: 45px;
  padding-left: 12px;
  font-size: 14px;
  border: 0px solid #ffffff !important;
  border-bottom: 1px solid #bfbfbf !important;
  background: none !important;
}
.options-tpl .item-toggle .toggle input:checked + .track {
  background: #c3f36f;
  border: 1px solid #d7d7d7;
}
.options-tpl .content-wrapper,
.options-tpl .list {
  padding: 0px !important;
}
.options-tpl .content-wrapper {
  position: absolute;
  top: 75px;
  left: 0px;
  background: #f7f7f7;
  height: 100%;
  float: left;
}
.options-tpl > .row {
  padding: 0px !important;
}
/* ===== END Options Screen ===== */
/* ======= PLAIN CSS ======== */
.scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 141px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.back-button {
  position: absolute;
  top: 10px;
}
.topcoat-icon--back {
  background: url("../topcoat/img/back_light.svg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.search-bar {
  padding: 10px 10px 12px 8px;
}
.search-bar > input {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.list {
  list-style-type: none;
  border-top: none !important;
}
.list > li {
  position: relative;
  clear: both;
  padding: 0px;
  margin: 0px;
}
.list > li:nth-of-type(1) {
  border-top: none;
}
.list > li > a {
  margin: 0px;
  display: block;
  height: 57px;
  padding: 4px;
}
.list > li > a > p:nth-of-type(1) {
  margin: 8px 0px 0px 0px;
  font-weight: bold;
}
.list > li p:nth-of-type(2) {
  margin: 0px;
  color: #777;
}
.list > li img {
  width: 57px;
  height: 57px;
  float: left;
  margin-right: 8px;
}
.list li:active {
  background-color: #d6d6d6;
}
.details {
  margin: auto;
}
.details > img {
  float: left;
  margin: 10px;
  width: 80px;
  height: 80px;
}
.details h1 {
  padding: 12px 0px 4px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 1.2rem;
}
.details h2 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 1.1rem;
  font-weight: normal;
  color: #888;
}
.details > .scroller {
  top: 175px;
}
.actions > li > a {
  padding-left: 12px;
}
.action-icon {
  position: absolute !important;
  top: 18px;
  right: 20px !important;
  width: 28px !important;
  height: 28px;
}
.actions li p:nth-of-type(1) {
  color: #5DC1FF;
  font-size: 0.9em;
  font-weight: lighter;
}
.actions li p:nth-of-type(2) {
  color: inherit;
}
.icon-call {
  background: transparent url(../topcoat/img/call.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.icon-sms {
  background: transparent url(../topcoat/img/chat.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.icon-mail {
  background: transparent url(../topcoat/img/email.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.icon-manager {
  background: transparent url(../topcoat/img/next.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.icon-reports {
  background: transparent url(../topcoat/img/next.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.chevron {
  background: transparent url(../topcoat/img/next_blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 22px;
  height: 50px;
  width: 28px;
}
/* ======= END PLAIN CSS ======== */
